* { box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", "sans-serif";
  }
  body {
    background-color: #008b8b;
    color:  #f3f4f6;
  }
  .watch{
    text-align: center;
     margin-top: 120px;
  }
  h1 {
    font-size: 50px;
    margin: 10px auto;
  }
  .time {
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 16px;
    color: #b22d47;
  }
  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .controls button {
    appearance: none;
    background-color: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: #f3f4f6;
    background-color: #0a70a7;
    margin: 0 8px;
    padding: 8px 16px;
    transition: 0.4s;
    border-radius: 8px;
  }
  
  button:hover {
    opacity: 0.7;
  }
  button:hover {
    background-color: #0f433f;
  }